In [1]:
import numpy as np
import pandas as pd

一、Dataframe生成

In [2]:
dates = pd.date_range('20250327',periods=6)
df = pd.DataFrame(np.random.random([4,6]),index=list('ABCD'),columns=dates)  # 数据，行标签，列标签
dates,df

(DatetimeIndex(['2025-03-27', '2025-03-28', '2025-03-29', '2025-03-30',
                '2025-03-31', '2025-04-01'],
               dtype='datetime64[ns]', freq='D'),
    2025-03-27  2025-03-28  2025-03-29  2025-03-30  2025-03-31  2025-04-01
 A    0.672091    0.250553    0.469984    0.852428    0.086851    0.609595
 B    0.267017    0.954126    0.969207    0.536699    0.688587    0.629411
 C    0.532304    0.572962    0.612085    0.741291    0.141258    0.970316
 D    0.439481    0.575664    0.294775    0.431156    0.424359    0.654578)

In [3]:
df = pd.DataFrame({
    'A':1,
    'B':pd.Timestamp('20250327'),
    'C':pd.Series(1,index=list(range(4)),dtype='float64'),
    'D':np.array([3]*4,dtype='int64'),
    'E':pd.Categorical(['first','secend','third','fourth']),
    'F':'foo'
})
df,df.head(2),df.tail(2)

(   A          B    C  D       E    F
 0  1 2025-03-27  1.0  3   first  foo
 1  1 2025-03-27  1.0  3  secend  foo
 2  1 2025-03-27  1.0  3   third  foo
 3  1 2025-03-27  1.0  3  fourth  foo,
    A          B    C  D       E    F
 0  1 2025-03-27  1.0  3   first  foo
 1  1 2025-03-27  1.0  3  secend  foo,
    A          B    C  D       E    F
 2  1 2025-03-27  1.0  3   third  foo
 3  1 2025-03-27  1.0  3  fourth  foo)

df.head(2)输出前2行，df.tail(2)输出后2行

二、表格的读取

In [4]:
df = pd.read_excel(r'G:\0tjjm\算法\girl.xlsx',sheet_name=0,header=0)
df.head()

    身高  体重   肺活量  50米跑  立定跳远  坐位体前屈
0  155  51  1687   9.7   158    9.3
1  158  52  1868   9.3   162    9.6
2  160  59  1958   9.9   178    9.5
3  163  59  1756   9.7   183   10.1
4  165  60  1575   9.0   156   10.4

①sheet_name参数详解 不需要详解

②header参数详解 有时候待读取的excel文件，可能有标题行，也有可能没有标题行。但是默认都会将第一行读取为标题行，这个对于没有标题行的excel文件来说，header=None，主要针对没有标题行的excel文件，系统不会将第一行数据作为标题，而是默认取一个1,2,3…这样的标题。 header=正整数值，指定哪一行作为标题行。

③usecols参数详解 如果仅仅读取这张表中的指定列， usecols=None，表示选择一张表中的所有列，默认情况不指定该参数，也表示选择表中的所有列。 usecols=[A,C]，表示选择A列（第一列）和C列（第三列）。而usecols=[A,C:E]，表示选择A列，C列、D列和E列。

In [5]:
df = pd.read_excel(r'G:\0tjjm\算法\girl.xlsx',usecols=[0,3])
df.head()

    身高  50米跑
0  155   9.7
1  158   9.3
2  160   9.9
3  163   9.7
4  165   9.0

三、索引

标签索引:loc，位置索引:iloc。

In [6]:
df = pd.read_excel(r'G:\0tjjm\算法\girl.xlsx')
df["身高"].head()
df[['身高','体重']].head()

    身高  体重
0  155  51
1  158  52
2  160  59
3  163  59
4  165  60

In [7]:
# 位置索引
df.iloc[0]
# 标签索引
#df.loc["标签名"]

身高        155.0
体重         51.0
肺活量      1687.0
50米跑        9.7
立定跳远      158.0
坐位体前屈       9.3
Name: 0, dtype: float64

In [8]:
# 位置索引
df1 = df.iloc[:,[0,1,3]]  # 所有行，013列
df2 = df.iloc[[0,1,3]]
df1,df2
# 标签索引
#df.loc[["标签1","标签2","标签4"]]

(      身高  体重  50米跑
 0    155  51   9.7
 1    158  52   9.3
 2    160  59   9.9
 3    163  59   9.7
 4    165  60   9.0
 ..   ...  ..   ...
 586  164  50   9.7
 587  159  41  11.3
 588  158  48  12.0
 589  155  49  11.0
 590  155  51  12.1

 [591 rows x 3 columns],
     身高  体重   肺活量  50米跑  立定跳远  坐位体前屈
 0  155  51  1687   9.7   158    9.3
 1  158  52  1868   9.3   162    9.6
 3  163  59  1756   9.7   183   10.1)

In [9]:
# 选取前3行数据的所有列
df.iloc[:3,:]

    身高  体重   肺活量  50米跑  立定跳远  坐位体前屈
0  155  51  1687   9.7   158    9.3
1  158  52  1868   9.3   162    9.6
2  160  59  1958   9.9   178    9.5

四、排序

In [10]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.199439  0.491127 -2.930525  1.288596
2013-01-02 -0.644826  0.359582  1.912591 -1.261523
2013-01-03  2.319406 -0.144671  0.377837  1.330727
2013-01-04 -2.571069 -1.674768 -1.260553 -0.511288
2013-01-05 -0.055749  0.866964 -2.670970 -0.817706
2013-01-06  1.547976 -0.614839 -0.855619 -0.683838

In [11]:
#按列排序，降序
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.288596 -2.930525  0.491127 -0.199439
2013-01-02 -1.261523  1.912591  0.359582 -0.644826
2013-01-03  1.330727  0.377837 -0.144671  2.319406
2013-01-04 -0.511288 -1.260553 -1.674768 -2.571069
2013-01-05 -0.817706 -2.670970  0.866964 -0.055749
2013-01-06 -0.683838 -0.855619 -0.614839  1.547976

In [12]:
#按值排序：
df.sort_values(by='B')

                   A         B         C         D
2013-01-04 -2.571069 -1.674768 -1.260553 -0.511288
2013-01-06  1.547976 -0.614839 -0.855619 -0.683838
2013-01-03  2.319406 -0.144671  0.377837  1.330727
2013-01-02 -0.644826  0.359582  1.912591 -1.261523
2013-01-01 -0.199439  0.491127 -2.930525  1.288596
2013-01-05 -0.055749  0.866964 -2.670970 -0.817706

In [13]:
#  布尔索引
df[df.A > 0]

                   A         B         C         D
2013-01-03  2.319406 -0.144671  0.377837  1.330727
2013-01-06  1.547976 -0.614839 -0.855619 -0.683838

In [14]:
#选择 DataFrame 里满足条件的值：
df[df > 0]

                   A         B         C         D
2013-01-01       NaN  0.491127       NaN  1.288596
2013-01-02       NaN  0.359582  1.912591       NaN
2013-01-03  2.319406       NaN  0.377837  1.330727
2013-01-04       NaN       NaN       NaN       NaN
2013-01-05       NaN  0.866964       NaN       NaN
2013-01-06  1.547976       NaN       NaN       NaN